.highlightPoints {
    color: black !important;
    font-size: 15px !important;
    margin-left: 15px;
}

.price-table {
    text-align: start;
}

.priceList {
    list-style: none;
    padding: 10px;
}

.priceList>li {
    font-size: 16px;
}

.priceList>li>i {
    color: #3414bc;
    margin-right: 5px;
    font-size: 20px;
}

.footer {
    background-color: #ededed;
}

.footerLogo {
    float: right;
    background-color: white;
    padding: 10px;
}

.modalTitle {
    align-items: center;
}

.modalTitle>img {
    margin-right: 10px;
}

.modal-body>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .bannerImg {
        display: block;
    }
    .highlightSection {
        background-color: #ededed;
        padding: 100px;
    }
    .highlightsPoints {
        padding-left: 50px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .bannerImg {
        display: none;
    }
    .highlightSection {
        background-color: #ededed;
        padding: 20px;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .bannerImg {
        display: none;
    }
    .highlightSection {
        background-color: #ededed;
        padding: 40px;
    }
    .bannerContent {
        padding: 20px;
    }
}